body{
    background-color: rgb(28, 205, 211);
    text-align: center;
    margin: 0%;
    padding: 0%;
    H1{color: rgb(0, 0, 0);
    font-size: 2cm;}
    p{
        color: rgb(1, 14, 26);
        font-size: 1cm;
    }

}